body{
    background: rgb(0,129,167);
    background: radial-gradient(circle, rgba(0,129,167,1) 0%, rgba(253,252,220,1) 100%);  
}


#redDisplay{
    color: red;
}

#blueDisplay{
    color: rgb(0, 102, 133);
}

.container{
    height: 120vh;
    font-family: nunito;
    font-size: 5vh;   
}

button:hover{
    background: #eddcd2;  
}

button:disabled{
   background-color: #f8f5f5; 
   color: black;
}
.sideButtons{
    color: "black";
    height: 4vw;
    width: 8vw;
    font-weight: 700;
    font-family: nunito;
    font-size: 1vw;
    margin: .5vw;

}
#turnButton {
    font-family: nunito;
    margin-top: 10vh;
}

#spymasterButton{
    margin-top: 5vh;
    font-family: nunito;
    margin-right: 300vh;
}

#newGameButton2{
    margin-top: 5vh;
    font-family: nunito;
}

#heading{
    padding-top: 4vh;
    height: 15%;
}

h1{
    color: whitesmoke;
}

.center{
display: flex;
align-items: center;
justify-content: center;
}

button {
    
    border: 1px solid #c1c1c1;
    white-space: normal;
  }
  
  .boxed {
    color: "black";
    font-weight: 700;
    font-family: nunito;
    font-size: 1vw;
    margin: .5vw;
    padding-top:1%;
    padding-left:1%;
    width:9vw;
    float:left;
    height:8vw;
    word-break: break-all;
  }

