:root {
    --gradient-color-1: rgba(93, 156, 236, 0.75);
    --gradient-color-2: rgba(145, 106, 245, 0.85);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    display: grid;
    place-items: center;
    text-align: center;
    background: linear-gradient(45deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 15%, var(--gradient-color-1) 55%, var(--gradient-color-2) 70%, var(--gradient-color-1) 100%);
    /*background-repeat: no-repeat;*/
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,body{
  height: 100%;
}

.content{
  width: 330px;
  /*background: #dde1e7;*/
  background: whitesmoke;
  
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: -3px -3px 7px #ffffff73,
              2px 2px 5px rgba(94, 104, 121, 0.288);
}

.content .text{
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: rgb(53, 53, 53);
  padding: 20px;
}

.content .field{
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.field input{
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: none;
  color: #595959;
  /*background: #dde1e7;*/
  background: whitesmoke;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
}

.field input:focus ~ label{
  box-shadow: inset 2px 2px 5px #babecc,
              inset -1px -1px 2px #ffffff73;
}


.field span{
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: #595959;
}

.field label{
  position: absolute;
  top: 50%;
  left: 45px;
  pointer-events: none;
  color: #666666;
  transform: translateY(-50%);
}


.field input:focus ~ label{
  opacity: 0;
}


button{
  margin: 15px 0;
  height: 50px;
  color: #000;
  font-size: 90%;
  font-weight: 600;
  /*background: #dde1e7;*/
  background: whitesmoke;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #babecc,
              -5px -5px 10px #ffffff73;
}
#joinGameButton{
    width: 100%;
}
#newGameButton{
    width: 100%;
}

.signup{
  font-size: 16px;
  color: #595959;
  margin: 10px 0;
}

.signup a{
  color: #000;
  text-decoration: none;
}

.signup a:hover{
  text-decoration: underline;
}

button:hover{
    background: rgba(93, 156, 236, 0.3)  
}

button:disabled{
   background-color: #f8f5f5; 
   color: black;
}

.grid-container{
    height: 80%;
    margin-left: 25%;
    margin-right: 25%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
}
.grid-item{
    margin: 2%;
    width: 15%;
    height: 15%;
}




h1{
    color: rgb(66, 66, 66);
}

@media only screen and (max-width: 600px){
    .grid-container{
        height: 80%;
        margin-left: 0;
        margin-right: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
        font-size: 70%;
    }
    .grid-item{
        margin: 2%;
        width: 15%;
        height: 10%;
    }

}


